input, .studentsList-row {
  width:400px;
  padding:5px;
  box-sizing: border-box;
}

.studentsList {
  margin: 10px 0px;
  display: inline-block;
}

.studentsList-row {
  color:black;
  background: lightgray;
  border-bottom: 1px dashed white;
  width: 500px;
}

.studentsList-row.active {
  color:orange;
  margin-left: 10px;
}

.newStudent {
  margin:10px 0px;
  border:1px solid black;
  padding: 5px;
}

.newStudent-submit {
  padding:5px;
  background: black;
  color: white;
  margin: 5px 0px;
}

.button {
  cursor: pointer;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFCC18;
}

.studentDetails {
  width: 500px;
  height:100px;
  border:1px solid black;
  padding:5px;
  display: inline-block;
  float: right;
}

.studentDetails.ng-enter,
.studentDetails.ng-leave.ng-leave-active {
  opacity:0;
  -ms-transform: scale(0.95); /* IE 9 */
  -webkit-transform: scale(0.95); /* Safari */
  transform: scale(0.95);
  posi: rotateY(180deg);
}

.studentDetails.ng-leave,
.studentDetails.ng-enter.ng-enter-active {
  opacity:1;
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
  transform: rotateY(180deg);
}

.animatedCSS {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.angular-google-map-container { height: 400px; }