<!DOCTYPE html>
<!-- ng-app is een 'directive'. Directives vertellen Angular dat je een bepaald gedrag wilt toevoegen
 met ng-app vertellen we welke 'app' dit is en zo koppelen we alle instellingen van md2App
 -->
<html ng-app="md2App">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <title>Reisplanner</title>
        <link rel="stylesheet" href="style/css/default.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <!-- met de ng-controller directive koppelen we een container aan een controller
    met een controller geven we de 'view' toegang tot de 'model'
    -->
        <!--<div>-->
            <!--<div class="homeLogo">-->
                <!--<img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Logo_NS.svg" width="600px">-->
            <!--</div>-->
        <!--</div>-->


    <div class="trainList" ng-controller="TrainController as trains">

        <ui-gmap-google-map center='trains.map.center' zoom='trains.map.zoom' ></ui-gmap-google-map>



        <!--<div class="newTrain">-->
        <!--<input type="text" placeholder="naam" ng-model="trains.newTrain.name">-->
        <!--<input type="text" placeholder="leeftijd" ng-model="trains.newTrain.age">-->
        <!--<div class="newTrain-submit button" ng-click="trains.createStudent()">toevoegen</div>-->
        <!--</div>-->
        <div id="hoeveel">U kunt kiezen uit {{trains.allTrains.length}} stations</div>
        <div class="stationsList">

            <input type="text" placeholder="Doorzoek de lijst" ng-model="trains.searchQuery" style="margin-right: 85px">
            <div class="trainList-row animatedCSS" ng-class="{active:trains.currentTrain==currentTrain}" ng-click="trains.setTrain(currentTrain)" ng-repeat="currentTrain in trains.allTrains | filter:trains.searchQuery | limitTo: 10  ">
                {{currentTrain.name}}
            </div>


            <br>
            <div class="studentDetails animatedCSS" ng-if="trains.currentTrain">
                <div>Het door u geselecteerde station is: {{trains.currentTrain.name}}</div>
                <div>De station code is: {{trains.currentTrain.code}}</div>
            </div>
        </div>


    </div>




    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/trains.service.js"></script>
    <script src="app/controllers/trains.controller.js"></script>
    <script src="app/js/angular-google-maps.js"></script>
    <script src="app/js/log.js"></script>
    <script src="app/js/lodash.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>


    </body>
</html>
